.tree-component {
    margin: .5rem 0 .5rem 0 ;
    padding: .8rem;
    border-radius: 10px;
    background-color: white;
    height: fit-content;
    display: flex;
    min-width: 320px;
    align-items: baseline;
    flex-direction: column;
    min-width: 40%
}
